<div class="large-content">

  <div class="container sample">
    <div class="options vertical">
        <span id="legendTitle">Gross By Zone</span>
        <igx-legend #legend orientation="Horizontal"></igx-legend>
    </div>
    <div class="container">
        <igx-category-chart height="100%" width="100%"
                    [legend]="legend"
                    [dataSource]="grossByZone"
                    chartType="Column"
                    xAxisInterval="1"
                    yAxisTitle="Total Gross"
                    yAxisTitleLeftMargin="10"
                    yAxisTitleRightMargin="5"
                    yAxisLabelLeftMargin="0"
                    isHorizontalZoomEnabled="false"
                    isVerticalZoomEnabled="false">
        </igx-category-chart>
    </div>
  </div>  
</div>

<div class="small-content">

  <!-- Chart 1 -->
  <div class="content-info column p-2">

    <div class="content column p-1">

      <div class="content-title red border">
        Sales
      </div>

      <div class="centered border pr">
        <div class="info">
          <i class="p-2 fa-3x fa-solid fa-coins"></i>
        </div>
        <div class="info money-left">
          <p class="number">€ {{totalGross}}</p>
        </div>
      </div>
    
    </div>

    <div class="content column p-1">
      <div class="content-title pink border">
        Customers
      </div>

      <div class="centered border pr">
        <div class="info">
          <i class="p-2 fa-3x fa-solid fa-users"></i>
        </div>
        <div class="info customers-left">
          <p class="number">{{customersNumber}}</p>
        </div>
      </div>
    </div>

    <div class="content column p-1">
      <div class="content-title green border">
        Others
      </div>

      <div class="centered border pr">
        <div class="info">
          <i class="p-2 fa-3x fa-solid fa-users"></i>
        </div>
        <div class="info money-left">
          <p class="number">€ {{totalGross}}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Table -->
  <div class="content">
    
  </div>

  <!-- Chart 2 -->
  <div class="content">
    
  </div>
</div>


  