<div class="login">
    <h1><i class="icon-size fa-solid fa-magnifying-glass-chart"></i>DSS CyberCentro</h1>
    <main class="form-signin w-100 m-auto">
        <form [formGroup]="form" (submit)="submit()">
            <h2 class="h3 mb-3 fw-normal">Please sign in</h2>
    
            <div class="form-floating">
                <input formControlName="email" type="email" class="form-control" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input formControlName="password" type="password" class="form-control" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            
            <div class="buttons">
                <button class="m-1 w-100 btn btn-lg btn-primary" type="submit">
                    Sign In
                    <i class="fa-regular fa-arrow-right-to-bracket"></i>
                </button>
                <button type="button" class="m-1 btn btn-outline-primary">Register</button>
            </div>
            <p class="mt-5 mb-3 text-muted">&copy; 2021–2022</p>
        </form>
    </main>
</div>
