.large-content {
    display: flex;
    width: 100%;
    height: 50%;
    /* border: 1px solid blue */
}

.small-content {
    display: flex;
    width: 100%;
    height: 45%;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: 1px solid orange */
}

.content {
    display: flex;
    flex-grow: 1;
    height: 100%;
    /* border: 1px solid brown; */
}

.content-table {
    display: flex;
    height: 100%;
    padding: 7px;
}

.column {
    display: flex;
    flex-direction: column;
}

.yearPicker {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

/* For Ignite Charts */
.mt {
    margin-top: 20px;
}

.container {
    width: 100%;
    height: 92%;
}