<div class="large-content">
  <!-- Table -->
  <div class="content-table column">
    <div>
      <h3>Products list</h3>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead class="table-light sticky-top">
          <tr>
            <th *ngFor="let column of displayedColumns" scope="col">
              {{ column }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>{{ product.productCode }}</td>
            <td>{{ product.productGroup }}</td>
            <td>{{ product.productDescription }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- ---------------------------------------------------------------- -->

  <!-- Chart -->
  <div class="content column">
    <!-- Year picker -->
    <div class="yearPicker p-1 end">
      <h5 class="m-2">Choose the year</h5>
      <div class="btn-group me-3 m-1">
        <button type="button" class="btn btn-primary">{{ yearValue }}</button>
        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
          <button type="button" class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle></button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <button *ngFor="let year of yearsList" ngbDropdownItem (click)="selectYear(year)">
              {{ year }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="content border-l">
      <div class="container sample">
        <div class="options vertical">
          <span id="legendTitle">Top selling products</span>
          <igx-legend #legend orientation="Horizontal"></igx-legend>
        </div>

        <div class="container">
          <igx-data-chart #chart isHorizontalZoomEnabled="false" isVerticalZoomEnabled="false" width="100%"
            height="100%" [dataSource]="topProductsQuantity" [legend]="legend">
            <igx-numeric-x-axis title="Quantity" #xAxis> </igx-numeric-x-axis>
            <igx-category-y-axis label="productDescription" [dataSource]="topProductsQuantity" #yAxis isInverted="true"
              gap="0.5" overlap="-0.1">
            </igx-category-y-axis>

            <igx-bar-series [dataSource]="topProductsQuantity" valueMemberPath="soma" [xAxis]="xAxis" [yAxis]="yAxis"
              title="Sold quantity" showDefaultTooltip="true" isTransitionedInEnabled="true"
              isHighlightingEnabled="true">
            </igx-bar-series>
          </igx-data-chart>
        </div>
      </div>
    </div>
  </div>
</div>

<hr class="my-12" />

<!-- ---------------------------------------------------------------- -->

<div class="small-content">
  <!-- Chart 2 -->
  <div class="content">
    <div class="container sample">
      <div class="options vertical">
        <span id="legendTitle">Top 10 products with the most revenue</span>
        <igx-legend #legend orientation="Horizontal"></igx-legend>
      </div>
      <div class="container">
        <igx-category-chart height="100%" width="100%" 
                    [legend]="legend"
                    [dataSource]="topProductsGross"
                    chartType="Column"
                    xAxisInterval="1"
                    yAxisTitle="Billions of U.S. Dollars"
                    yAxisTitleLeftMargin="10"
                    yAxisTitleRightMargin="5"
                    yAxisLabelLeftMargin="0"
                    isHorizontalZoomEnabled="false"
                    isVerticalZoomEnabled="false">
        </igx-category-chart>
      </div>
    </div>
  </div>

  <div class="content border-l">
    
      <div class="container sample">
        <div class="options vertical">
            <span id="legendTitle">Global Electricity Demand by Energy Use</span>
            <igx-item-legend #legend></igx-item-legend>
        </div>
    
        <div class="container">
            <igx-pie-chart height="100%"
                width="100%"
                [dataSource]="totalGrossByFamily"
                [legend]="legend"
                valueMemberPath="total"
                labelMemberPath="productGroup"
                labelsPosition="BestFit"
                radiusFactor="0.8">
            </igx-pie-chart>
        </div>
    </div>
    
    
  </div>

</div>