<div class="main-container">
  <nav>
    <app-navbar></app-navbar>
  </nav>
  <div id="sidebar">
    <app-sidebar></app-sidebar>
  </div>

  <div class="container sample">
    <div class="options vertical">
      <span id="legendTitle">Renewable Electricity Generated</span>
    </div>
    <div class="container">
      <igx-category-chart height="400px" width="100%"
                          [dataSource]="data"
                          chartType="line"
                          yAxisTitle="TWh"
                          yAxisTitleLeftMargin="5">
      </igx-category-chart>
    </div>
  </div>

  <div id="content1">Content1</div>
  <div id="content2">Content2</div>
  <div id="content3">Content3</div>
  <footer>Footer</footer>
</div>

<!-- <div class="main-container">
  <div class="navbar"><app-navbar></app-navbar></div>
  <div class="sidenav"><app-sidebar></app-sidebar></div>
</div> -->
