<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/menu">
            <i class="icon-size fa-solid fa-house"></i>
            Dashboard
          </a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" routerLink="/menu/suppliers">
            <i class="icon-size fa-solid fa-truck"></i>
            Suppliers
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/menu/products">
            <i class="icon-size fa-solid fa-cart-shopping"></i>
            Products
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/menu/customers">
            <i class="icon-size fa-solid fa-users"></i>
            Customers
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="icon-size fa-solid fa-chart-bar"></i>
            Reports
          </a>
        </li>
      </ul>

      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
        <span>Imported SAFTS</span>
        <a class="link-secondary" href="#" aria-label="Add a new report">
          <i class="icon-size fa-solid fa-square-plus"></i>
        </a>
      </h6>
      <ul class="nav flex-column mb-2">
        <li class="nav-item">
          <a class="nav-link">
            <i class="icon-size fa-regular fa-file-lines"></i>
            Saft-2022
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="icon-size fa-regular fa-file-lines"></i>
            Saft-2021
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="icon-size fa-regular fa-file-lines"></i>
            Saft-2020
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="icon-size fa-regular fa-file-lines"></i>
            Saft-2019
          </a>
        </li>
      </ul>
    </div>
  </nav>